body {
  background: #333;
  overflow: hidden;
}

.rdnbrk, .rdnbrk2, .rdnbrk3 {
  position: relative;
  font-size: 2.5em;
  color: #fff;
  font-family: "Rubik";
}

.rdnbrk .rdn, .rdnbrk2 .rdn2, .rdnbrk3 .rdn3 {
  position: absolute;
  margin: auto;
  left: 0;
  Right: 0;
  opacity: 0;
}

.content-rdnbrk {
  text-align: center;
}

.content-rdnbrk p {
  font-size: 1.3em;
  display: block;
  font-family: "Rubik";
  color: #fff;
  margin-top: 1px;
}

.content-rdnbrk i {
  font-size: 4em;
  text-align: center;
  color: #fff;
}